DEBUG=True
SECRET_KEY=troque-esta-chave-em-producao
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://postgres:postgres@db:5432/simulador
REDIS_URL=redis://redis:6379/0

FOOTBALL_DATA_TOKEN=seu-token-do-email
FOOTBALL_DATA_BASE_URL=https://api.football-data.org/v4
FOOTBALL_DATA_COMPETICAO=BSA

# Simulação
SIMULACOES_PADRAO=10000
FATOR_MANDANTE=1.25
